* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    padding: 0.7rem;
    background-color: #29325e;
  }
  
  #wrap {
    display: flex;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
  }
  
  #nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #a1c3ff;
    width: 35rem;
  }
  
  #nav h2 {
    padding: 1.5rem 0;
  }
  
  #nav ul {
    text-align: start;
  }
  
  #content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #4968ae;
  }
  
  #content li {
    list-style-type: none;
  }
  
  .copyright {
    position: relative;
    top: 3rem;
  }
  